{% extends '../expertise.html' %}

{% block content1 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/expertise.css' %}">

</head>

<body>

    <section class="digital_marketing" style="height: 100vh;">
        <div class="expertise-container">
            <div class="exp-left">
                <div id="expertise_heading">
                    <h1>EXPERTISE</h1>
                </div>
                <div id="expertise-page-heading-dm">
                    <h4>DIGITAL MARKETING</h4>
                </div>
            </div>
            <div class="exp-right">
                <div id="exp-right-up">
                    <div id="exp-right-up-left">
                        <img src="{% static 'images/Rectangle 50.png' %}" style="max-width:100%; height:auto;"  alt="">
                    </div>
                    <div id="exp-right-up-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dicta accusantium neque nihil libero recusandae?
                            Dolorum dignissimos eius sequi consequatur magni
                            dolores quidem suscipit iusto repudiandae eveniet
                            culpa corrupti id reprehenderit iste aliquid minima
                            earum qui numquam expedita, fuga, nostrum mollitia reiciendis.
                            Consequuntur totam minus perspiciatis praesentium quasi nihil
                            nemo voluptate. Animi est culpa consectetur, dicta quia, non
                            voluptatem, libero nulla vel molestias odit fugiat odio laboriosam
                            totam. Quae, laboriosam repellendus pariatur expedita optio, perspiciatis labore tenetur
                            eaque
                            quos non placeat itaque, dolorem eligendi? Officiis libero id beatae ea vitae reiciendis
                            porro
                            quisquam vel excepturi non, nam amet ut totam culpa maiores dolore repellendus. Dolor,
                            iusto,
                            adipisci deleniti iste eum commodi voluptatum labore dolores, non rem fugiat? Repudiandae
                            animi
                            facere esse culpa aut, rem officia porro labore odio ipsam cupiditate aperiam sunt!
                            Reprehenderit, deserunt quod laborum totam excepturi quia.
                        </p>
                    </div>
                </div>
                <div id="exp-right-down">
                    <div id="exp-right-down-poster">
                        <!-- box -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <div class="mobile_view">
        <section class="dm_mobile">
            <div class="ex_container_mobile">
                <div class="ex_up_mobile">
                    <div class="heading_mobile">
                        <h1>EXPERTISE</h1>
                    </div>
                </div>
                <div class="ex_down_mobile">
                    <div class="img_mobile">
                        <img src="{% static 'images/Rectangle 50.png' %}" style="max-width:100%; height:auto;"  alt="">
                    </div>
                    <div class="para_mobile">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dicta accusantium neque nihil libero recusandae?
                            Dolorum dignissimos eius sequi consequatur magni
                            dolores quidem suscipit iusto repudiandae eveniet
                            culpa corrupti id reprehenderit iste aliquid minima
                            earum qui numquam expedita, fuga, nostrum mollitia reiciendis.
                            Consequuntur totam minus perspiciatis praesentium quasi nihil
                            nemo voluptate. Animi est culpa consectetur, dicta quia, non
                        
                        </p>
                    </div>            
                    <div class="poster_mobile">
                        <img src="{% static 'images/Rectangle 50.png' %}" style="max-width:100%; height:auto;" alt="">
                    </div>
                </div>
                    
            </div>
        </section>


</div>
</body>
    

</html>
{% endblock %}